@tailwind base;
@tailwind components;
@tailwind utilities;

/* Satoshi Light */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Light Italic */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Regular */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Italic */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Medium */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Medium Italic */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Bold */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Bold Italic */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Satoshi Black */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Black Italic */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi_Complete/Satoshi-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Instrument Serif Regular */
@font-face {
  font-family: "InstrumentSerif";
  src: url("../assets/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Instrument Serif Italic */
@font-face {
  font-family: "InstrumentSerif";
  src: url("../assets/fonts/Instrument_Serif/InstrumentSerif-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 175 91% 23%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-satoshi text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-instrumentSerif;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-black;
  }

  h1 {
    @apply text-5xl md:text-7xl lg:text-8xl;
  }

  h2 {
    @apply text-4xl leading-9 lg:text-5xl xl:text-[64px];
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }

  kbd {
    @apply rounded-[3px] border bg-gray-200 px-1 py-0.5 text-[10px];
  }
}

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rti--container {
  width: 100%;
  height: 56px;
  overflow-y: auto;
  border-radius: 8px;
}

.rti--container:focus {
  outline: 1px solid var(--primary);
}
